<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         convertErrorsExceptions ="true"
         convertNoticesToExeptions="true"
         convertWarningsToExeptions="true"
         stopOnFailure="false"
         colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./framework/</directory>
        </whitelist>
    </filter>
</phpunit>